LEEFIPAY_BASE_URL=https://leefipay.com
LEEFIPAY_API_KEY=
LEEFIPAY_API_SECRET=
LEEFIPAY_ENVIRONMENT=sandbox
LEEFIPAY_TIMEOUT=30
LEEFIPAY_CONNECT_TIMEOUT=10
LEEFIPAY_RETRY_ENABLED=true
LEEFIPAY_RETRY_TIMES=3
LEEFIPAY_RETRY_SLEEP=500
LEEFIPAY_LOGGING_ENABLED=false
LEEFIPAY_WEBHOOKS_ENABLED=true
LEEFIPAY_WEBHOOK_PATH=leefipay/webhooks/mpesa
LEEFIPAY_WEBHOOK_SECRET=
LEEFIPAY_WEBHOOK_TOLERANCE=300
